<%= form_with(model: task, local: true) do |form| %>
  <% if task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
        <% task.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-row">
    <div class="col">
      <%= form.label :project_id %>
      <%= form.select :project_id, @project_options, { prompt: "Select Project" }, { class: "form-control" } %>
    </div>
    <div class="col">
      <%= form.label :status %>
      <%= form.select :status, @statuses, { prompt: "Select Status" }, { class: "form-control" } %>
    </div>
  </div>

  <div class="form-row">
    <div class="col">
      <%= form.label :start_at %>
      <%= form.text_field :start_at, class: "form-control", data: { behavior: 'flatpickr' } %>
    </div>
    <div class="col">
      <%= form.label :end_at %>
      <%= form.text_field :end_at, class: "form-control", data: { behavior: 'flatpickr' } %>
    </div>
  </div>

  <div class="form-group">
    <%= form.label :references %>
    <%= form.text_area :references, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :comments %>
    <%= form.text_area :comments, class: "form-control" %>
  </div>

  <div class="actions">
    <%= form.submit class: "btn btn-success" %>
  </div>
<% end %>
